* {
    width: 100%;
}
body {
    font-family: "Sansita", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.sansita-black {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.sansita-regular-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
}

ion-icon {
    font-size: 2em;
}

.logo {
    display: flex;
    align-items: center;
    width: 20%;
}
.paginas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginas a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginas a:hover {
    transition: transform 0.6s ease;
    transform: scale(1.2);
}
.logo ion-icon {
    margin: 1em;
}
.logo ion-icon:hover {
    transition: transform 0.6s ease;
    transform: scale(0.8) rotate(360deg);
}

.navPag {
    background-color: #0f4c5c;
    color: white;
    display: flex;
    font-size: 1.2em;
    height: 3em;
    align-items: center;
    width: 100%;
}
.navPag a {
    text-decoration: none;
    color: white;
}

.isologo {
    background-color: #9a031e;
    color: #fb8b24;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0.6em 0;
}

.contenido {
    padding: 1em;
    max-width: 100%;
    text-align: center;
}
.titulo {
    font-size: 3em;
    display: flex;
    align-items: center;
    text-align: left;
}
.titulo ion-icon {
    width: 0.7em;
    display: inline-flex;
}
.subtitulo {
    text-align: right;
    font-size: 1.6em;
}
.detalleCard {
    width: 80%;
    margin: 0 auto;
    background-color: #fb8b24;
    border: 1px solid #9a031e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.detalleCard img {
    max-width: 40%;
    border-radius: 10px;
    margin-right: 20px;
    width: 30em;
    height: 30em;
}

.detalleCard .detalleInfo {
    display: flex;
    flex-direction: column;
}

.detalleCard h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.detalleCard h3 {
    font-size: 1.3em;
}
#contenedorPeli {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2em;
}

.cardCss {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 13em;
}
.cardCss:hover {
    transition: transform 0.6s;
    transform: scale(1.06);
}

.cardCss h2 {
    font-size: 24px;
    margin-bottom: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

.cardCss h3 {
    font-size: 18px;
    margin-bottom: 8px;
    overflow: hidden;
    word-wrap: break-word;
}

.cardCss img {
    max-width: 100%;
    height: 15em;
    border-radius: 8px;
    margin-top: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.articleCustom {
    padding: 1em;
    display: flex;
}

.filtro {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 60%;
}

.filtro input[type="text"] {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filtro button {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    max-height: 60em;
}

.carousel-item img {
    width: 60em;
    height: 60em;
    object-fit: contain;
}
.carousel-control-prev span,
.carousel-control-next span {
    background-color: #0f4c5c;
    width: 6em;
    height: 6em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5f0f40;
    color: white;
    margin-top: 1em;
    padding-top: 0.6em;
}
footer p {
    display: contents;
    font-size: 1.2rem;
}
.redes {
    display: flex;
    width: 10rem;
    gap: 1em;
    padding: 1em;
}
.redes a {
    text-decoration: none;
    color: white;
}

.redes a:hover {
    cursor: pointer;
    animation: girar 1s linear forwards; /* Aplica la animación */
}
.redes a ion-icon {
    width: 1em;
}
@keyframes girar {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-0.8em) rotate(-180deg);
    }
    100% {
        transform: translateY(0) rotate(-360deg);
    }
}
.formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}
#formularioPelicula {
    width: 60%;
    font-size: 1.2em;
    padding: 0 2em;
    border: 0.4em groove #5f0f40;
    background-color: #fb8c2459;
}
.formProp {
    display: flex;
    width: 100%;
    height: 2em;
    margin: 1em;
    align-items: center;
}
.formProp label {
    width: 10em;
}
.formProp input {
    width: 100%;
    font-size: 1.1em;
    height: 1.9em;
}
.envioLimpieza {
    display: flex;
    justify-content: space-evenly;
}

.envioLimpieza button {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 10em;
    font-size: 1.2em;
    margin: 1em;
    cursor: pointer;
}
.envioLimpieza button:hover {
    background-color: black;
    color: white;
    transition: transform 0.6s ease;
    transform: scale(1.1);
}
#lista {
    display: flex;
    justify-content: center;
}
#listaPeliculas {
    font-size: 1.2em;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
    border: 0.4em groove #5f0f40;
    background-color: #fb8c2459;
}
#listaPeliculas li {
    text-decoration: dashed;
}
#listaPeliculas li:hover {
    transition: transform 0.6s ease;
    transform: scale(1.1);
}
/*Colores
5f0f40
9a031e
fb8b24
e36414
0f4c5c*/
